<h2>Create your account</h2>
<form>
  <div class="form-group">
    <label for="username">Username</label>
    {{input value=username id="username"}}
    <label for="password">Password</label>
    {{input value=password id="password"}}
    <label for="userType">Who are you?</label>
    {{input value=userType id="userType"}}
  </div>
  <button {{action 'createAccount'}}>Sign Up</button>
</form>
