<div class="well">
  <h4> {{#link-to 'listing-detail' booking.listing.id}}{{booking.listing.title}}{{/link-to}}</h4>
  <p>Use: {{booking.use}}</p>
  <p>Date: {{booking.when}}</p>
  <p>Details: {{booking.details}}</p>
</div>
