{{#carousel-container}}
  {{#carousel-body}}
    {{#each listing as |listing|}}
      {{#carousel-item}}
      {{#link-to 'listing-detail' listing.id}}
      <div class="caro-img">
        <img class="img-responsive" src="{{listing.image}}" alt="listing image" />
      </div>
      {{/link-to}}
      {{/carousel-item}}
    {{/each}}
  {{/carousel-body}}

  {{#carousel-arrow direction="left" class="carousel-control line-arrow left"}}
    <span class="glyphicon glyphicon-menu-left"></span>
  {{/carousel-arrow}}

  {{#carousel-arrow direction="right" class="carousel-control line-arrow right"}}
    <span class="glyphicon glyphicon-menu-right"></span>
  {{/carousel-arrow}}
{{/carousel-container}}
