<h5>Reviewed by: {{#link-to 'owner' review.reviewer_id}}{{review.reviewer}}{{/link-to}}</h5>
<h5>Rating: {{rating-stars review.rating}}</h5>
<blockquote>{{review.text}}</blockquote>
<p>
  {{moment-format review.timestamp "MM/DD/YY"}}
</p>
<hr>
