html {
  background-color: #F3F9FF;
}

h2 {
  font-family: "proxima-nova",sans-serif;
}

h3 {
  font-family: "proxima-nova",sans-serif;
  color: #334f84;
}
h4 {
  font-family: "proxima-nova",sans-serif;
}

p {
  font-family: "proxima-nova",sans-serif;
}

h1 {
  font-family: "spumante",sans-serif;
  font-weight: black;
}

.error-message {
  text-align: center;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  color: #334f84;
  height: 225px;
  padding: 2% 5% 2% 5%;
}

.error-message h3 {
  font-family: "proxima-nova",sans-serif;
}


.jumbotron {
  background-image: url("/images/yard_banner_edit.jpg");
  text-align: center;
  color: white;
  height: 300px;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  height: 350px;
}
.jumbotron h1 {
  font-size: 84px;
}

.navbar {
  background-color: #09447F;
  margin-bottom: 0;
  color: #09447F;

}

.headline {
  width: 50%;
  height: 75%;
  margin: 50px auto 50px auto;
  /*background-color: #09447F;*/
  border-radius: 30px;
  padding: 1%;
  opacity: .9;
}

.headline p {
  font-size: 18px;
  font: "proxima-nova";
  letter-spacing: .9px;
}

.navbar-default .navbar-brand {
  font-family: "spumante",sans-serif;
  font-size: 1.75em;
  color: white;
}
.navbar-default .navbar-brand:hover {
  font-family: "spumante",sans-serif;
  font-size: 1.75em;
  color: #ffe6ac;
}

.nav.navbar-nav.navbar-right li a {
    color: white;
    font-family: "proxima-nov",sans-serif;
}
.nav.navbar-nav.navbar-right li a:hover {
    color: #ffe6ac;
}

.col-sm-5 {
  margin-top: 30px;
  margin-left: 7%;
}

.col-sm-6 {
  margin-top: 40px;
}

img {
  margin-bottom: 2em;
}


body {
  font: "proxima-nova";
}

.browse {
  margin-top: 0;
  padding-top: 0;
  padding-left: 1.5%;
}

.col-sm-6 {
  margin-top: 0;
  padding-top: 2%;
}

.neighborhood-sort {
  margin-top: 5px;
}

.pipes {
  opacity: .2;
  margin-left: 10px;
  margin-right: 7px;
}
.push-down {
  margin-top: 2em;
}

img {
  width: 100%;
}

.btn-default {
  margin-top: 10px;
}

.background-image {
  background-image: url("/images/greenspace.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: static;
  top: 0;
  left: 0;
}

.login-div {
  background-color: white;
  width: 30%;
  margin-left: 2%;
  margin-right: 18%;
  margin-top: 20%;
  padding: 2% 5% 4% 5%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  background-size: cover;
  margin-bottom: 30px;
  opacity: .85;
}

.login-div-left {
  background-color: white;
  width: 30%;
  margin-left: 18%;
  margin-right: 2%;
  margin-top: 20%;
  padding: 2% 5% 4% 5%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  background-size: cover;
  margin-bottom: 30px;
  opacity: .85;
}

.btn-default {
  background: white;
  color: #334f84;
  outline-color: #334f84;
}

.renter {
  width: 100%;
  margin-left: 0;
}

.renter-profile {
  padding-top: 100px;
  padding-bottom: 50px;
}

.btn-default:hover {
  background-color: #334f84;
  color: white;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, btn-default.active {
  outline-color: #09447F;
}

label {
  margin-top: 10px;
  color: #334f84;
}

.caro-img {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.carousel-control {
  top: 50%;
  width: auto;
  background: transparent;
}

.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right  {
  position:static;
  display:block;
  width:auto;
  padding: 20%;
}
.carousel-control .glyphicon-menu-left:before {
  margin-left:0;

.map-display, .map-container {
  width: 600px;
  height: 600px;
  margin: 20px;
}
