<div class="jumbotron">
  <div class="headline">
    <h1>Green Space</h1>
    <p>A place to discover and share green urban spaces.</p>
  </div>
</div>
<div class="container push-down">
  {{listing-list-sort listings=model}}  
</div>
