<div class="col-sm-4 listing-list">
  {{#each model as |listing|}}
    {{listing-tile listing=listing}}
    {{log listing.title}}
  {{/each}}
</div>

<button class="btn" {{action 'listing'}}>Browse all listings</button>
