<div class="row background-image">
  <div class="col-sm-4 login-div-left">
    <h3>Ready to explore?</h3>{{renter-login renterLogin="renterLogin"}}
  </div>
  <div class="col-sm-4 login-div">
    <h3>Share your space</h3>
    {{owner-login ownerLogin="ownerLogin"}}
  </div>
</div>
