<div class="container">
  {{owner-details owner=model}}
  <div class="listing-form col-sm-6">
    {{listing-new owner=model saveListing="saveListing"}}
  </div>

{{owner-update owner=model updateOwner="updateOwner"}}

  <div class="owner-listing-tiles">
    {{#each model.listings as |listing|}}
    {{listing-tile listing=listing}}
    {{/each}}
  </div>
</div>
